.header__image1{
    align-items: flex-start;
    width: 235px;
height: 109px;
margin-left: 8rem;
margin-top: 3rem;
}
.header{
    display: flex;

}
.header__title{
    display: flex;
    margin-left:34rem;
    margin-top: 4rem;
    width: 800px;
height: 33px;
/* UI Properties */
text-align: left;
font: normal normal bold 27px/50px system-ui;
letter-spacing: 0px;
color: #12383B;
}
.header__image2{
    margin-left: 1rem;
    width: 69px;
    height: 69px;
}
