.right{
    width: 65%;
    height: 117px;
    border-bottom: 1px solid gray;
}
.right__heading{
    height: 100px;
    display: flex;
}
.right__heading-title{
    width: 80%;
    padding-left: 4rem;
    padding-top: 1rem;
    
}
.right__heading-logos{
    justify-content: flex-end;
}
.right__heading-title-text{
    text-align: left;
    height: 35px;
font: normal normal bold 30px/79px Montserrat;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
letter-spacing: 0px;
color: #2CB8C3;
opacity: 1;
}
.right__heading-l1{
display: flex;
margin: 10px;
list-style: none;
}
.right__heading-l2{
    display: flex;
    list-style: none;
    margin: 10px;
    }
    .right__heading-l1 li{
        color: gray;

    }
    .right__heading-l2 li{
        color: gray;
    }
    .right__footer{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        margin-top: 13rem;
        height: 90px;
        background-color: #C1C1C1;
    }

    .right__footer-link{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        margin-right: 1rem;
        color: #555555;
    }
    .right__footer-ip{
        width: 600px;
        height: 25px;
        border-radius: 5px;
        border: none;
    }
    .right__footer-btn{
        margin: 15px;
        background: transparent linear-gradient(180deg, #777777 0%, #131313 100%);
        border: none;
        height: 25px;
        width: 70px;
        border-radius: 5px;
    }
    .btn-text{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        color: #fff;
    }