.list{
  width: 100%;
}
.list__section{
 height: 90px;
 width: 100%;
display: flex;
border-top: 1px solid #0FEEFF;
border-bottom: 1px solid #0FEEFF;

}
.list__text{
    font-weight: 700;
    font-size: 30px;
    padding-top: 1.5rem;
  letter-spacing: 0px;
color: #FFFFFF;
padding-left: 5rem;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.list__icon{
    color: #FFFFFF;
padding-left: 2rem;
padding-top: 0.5rem;
}

.list :hover{
  background-color: #0FEEFF;
  border-radius: 30px;
  transition: background-color 0.5s ease; 
}
.list :active{
  background-color: #0FEEFF;
  border-radius: 30px;
  
}
  


